<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gewuyou.baseforge.auth.mapper.AuthUserRoleMapper">

    <select id="getRoleByUserAuthId" resultType="com.gewuyou.baseforge.auth.model.AuthRole">
        select bar.id,
               role_name,
               description,
               bar.created_at,
               is_active,
               is_deleted,
               bar.update_at
        from base_forge.public.bf_auth_role bar
                 left join base_forge.public.bf_auth_user_role baur
                           on
                               bar.id = baur.role_id
                                   and bar.is_deleted = false
                                   and bar.is_active = true
        where baur.user_auth_id = #{userAuthId}
    </select>
</mapper>
